/* FIX CAMERA OVERLAP */
#scanner video {
    width: 300px !important;
    height: auto !important;
}

/* SHOW PRODUCT BOX PROPERLY */
#productBox {
    display: none;
    margin-top: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}

/* KEEP BUTTONS VISIBLE */
#actionButtons {
    margin-top: 10px;
}