/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
}

/* TITLE */
h2 {
    text-align: center;
    margin-bottom: 10px;
}

/* CART ITEMS */
#cartItems {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 10px;
}

/* SINGLE ITEM */
.cart-item {
    display: flex;
    justify-content: space-between;
    background: #f8f9fb;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    font-size: 14px;
}

/* TOTAL */
h3 {
    text-align: center;
    margin: 5px 0;
}

#cartTotal {
    color: green;
    font-weight: bold;
}

/* QR */
#qrContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

/* BUTTONS */
button {
    width: 100%;
    padding: 14px;
    margin-top: 8px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: white;
}

/* BUTTON COLORS */
button:nth-child(1) {
    background: #007bff; /* Add More */
}

button:nth-child(2) {
    background: #28a745; /* Payment */
}

button:nth-child(3) {
    background: #dc3545; /* Clear */
}

.back-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px 12px;
    border: none;
    border-radius: 8px;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 14px;
    z-index: 10;
}